.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    padding: 16px;
    background: radial-gradient(#a4d6f2, #0998d3);
}

.h1 {
    margin-bottom: 24px;
    font-size: 32px;
    color: #0a749f;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.upload-zone_dragover {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #ededed;
    border: 2px dashed rgb(186, 191, 195);
    box-shadow: 0 0 4px 4px rgba(255, 255, 255, 0.5);
    transition: border-color 0.3s, background-color 0.3s;
}
.upload-zone_dragover.active {
    border-color: rgb(62, 201, 80);
    background-color: #e6ffe3;
}
h2,
p {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    color: #007195;
}
.label {
    padding: 5px 10px;
    background-color: #0998d3;
    border-radius: 5px;
    font-size: 16px;
    color: white;
    cursor: pointer;
}
.input {
    margin: 0;
    padding: 0;
    height: 0;
    width: 0;
    visibility: hidden;
}

.file-list {
    margin-top: 1.25rem;
    width: 100%;
    padding: 0;
    list-style-type: none;
}
.file-list li {
    text-align: center;
    padding: 6px 16px;
    border: 1px dashed rgb(187, 183, 183);
    border-radius: 4px;
    font-size: 14px;
    line-height: 1;
    color: #515151;
}
.file-list li:nth-child(n + 2) {
    margin-top: 4px;
}

.preview {
    width: 20px;
    height: 30px;
    margin-right: 15px;
}

.btn {
    border-radius: 3px;
    cursor: pointer;
    border: 0;
    background-color: #0998d3;
    color: #fff;
    padding: 8px 5px;
    margin-left: 10px;
}
.submit {
    margin-top: 14px;
    width: 90px;
    padding: 5px;
    border: 0;
    cursor: pointer;
    font-size: 14px;
    color: #fff;
    background-color: #6bb554;
    border-radius: 5px;
}
.error {
    font-size: 18px;
    color: red;
}
.board {
    width: 100%;
    background-color: #ededed;
    border-radius: 10px;
    padding: 0px 10px;
}

.h3 {
    text-align: center;
    color: #007195;
}
